@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body, div, span, h1, h2, h3, p,
a, em, img, q, strong,
u, i, center, ol, ul, li,
article, embed, figure, figcaption,
footer, header, menu, nav, section {
	margin:0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Roboto';
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}


body, input, textarea, select {
	font-family: Roboto;
	line-height: 1.85em;
	color: #000000;
	font-weight: 400;
	font-size: 12pt;
  letter-spacing: 0.028em;
	line-height: 1.70;
  text-align: center;
}

a {
	text-decoration: none;
}

h1 {
  font-size: 3em;
  text-align: center;
}

.selectbar {
  width: 40%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.option {
  padding-left: 10px;
  padding-right: 10px;
}

label.option {
    display: inline-block;
    width: 100px;
    height: 50px;
}

input[type="radio"] {
    display:none;
}

.slidecontainer {
    width: 75%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    border-radius: 5px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    text-align: center;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.selected {
  background-color:  #34D2E6;
}

.button {
  font-size: 20px;
  display: block;
  width: 300px;
  margin: auto;
  margin-bottom: 1em;
  text-align: center;
  background-color: #34D2E6;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
