html, body, .viewport {
  width: 100%;
  height: 100%;
  margin: 0;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#header {
  position: relative;
  flex: 1.5;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  background-color: #34d2e6;
  font-size: 28px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  color: white;
  font-family: 'Montserrat'!important;
}

#header > div {
  display: inline;
}

#header-title {
  position: absolute;
  left: 80px;
  top: 50%;
  transform: translateY(-50%);
}

#header-dashboard {
  position: absolute;
  right: 300px;
  top: 50%;
  transform: translateY(-50%);
  /* font-weight: bold; */
}

#header-dashboard> a {
  color: white;
}

#header-dashboard> a:hover {
  font-weight: bold;
}

#header-logout {
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
}

#header-logout > a {
  color: white;
}

#header-logout > a:hover {
  font-weight: bold;
}

#offerings-container {
  position: relative;
  flex: 15;
  width: 100%;
  /* display: flex; */
  flex-direction: column;
  display: none;
}

#dashboard-container {
  position: relative;
  flex: 15;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* display: none; */
}

#welcome-container {
  position: relative;
  flex: 2.5;
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  /* background-color: yellow; */
  font-size: 48px;
  font-weight: 500;
  font-family: "Segoe UI";
}

#overview-container {
  position: relative;
  flex: 6;
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  /* background-color: yellow; */
  min-height: 100px;
  font-family: "Segoe UI";
}

#budget-container {
  position: relative;
  flex: 1;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}

#data-container {
  position: relative;
  flex: 1;
  /* background-color: blue; */
}

#history-container {
  position: relative;
  flex: 1;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
}

#budget-desc {
  position: relative;
  text-align: center;
  font-size: 36px;
  height: 70px;
  line-height: 70px;
}

#budget-amt {
  position: relative;
  text-align: center;
  font-size: 48px;
  flex: 5;
  font-weight: 600;
}

#added-amt {
  position: relative;
  text-align: center;
  font-size: 18px;
  flex: 5;
  height: 70px;
  line-height: 70px;
}

#history-desc {
  position: relative;
  text-align: center;
  font-size: 36px;
  height: 70px;
  line-height: 70px;
}

#history-feed {
  position: relative;
  flex: 5;
  /* background-color: gray; */
}

.history-item {
  text-align: left;
}

#give-container {
  position: relative;
  flex: 6;
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: row;
  font-family: "Segoe UI";
  /* background-color: pink; */
}

.succ {
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.6;
}

#succ1 {
  width: 500px;
  height: 500px;
  left: -100px;
  bottom: -250px;
  background-image: url('../images/succ1-01.png');
}

#succ2 {
  width: 300px;
  height: 300px;
  left: 300px;
  bottom: -200px;
  background-image: url('../images/succ2-02.png');
}

#succ3 {
  width: 300px;
  height: 300px;
  right: 300px;
  bottom: -200px;
  background-image: url('../images/succ3-03.png');
}

#succ4 {
  width: 500px;
  height: 500px;
  right: -100px;
  bottom: -200px;
  background-image: url('../images/succ4-04.png');
}

.category-container {
  position: relative;
  transition: 0.3s;
  box-sizing: border-box;
  flex: 1;
  margin: 10px 10px;
  height: 70%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

.category-container:hover {
  margin-top: 0px;
  cursor: pointer;
}

#aid-btn {
  background-image: url('../images/aid.png');
}

#education-btn {
  background-image: url('../images/education.png');
}

#environment-btn {
  background-image: url('../images/environment.png');
}

#health-btn {
  background-image: url('../images/health.png');
}

#aid-btn-title, #education-btn-title, #environment-btn-title, #health-btn-title {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 24px;
}


/* D3 */
/* legend */
.legend {
  font-size: 14px;
}
rect {
  cursor: pointer;
  stroke-width: 2;
}
rect.disabled {
  fill: transparent !important;
}

/* chart */
#chart {
  height: 300px;
  margin: 0 auto;
  position: relative;
  display: block;
  width: 300px;
}

/* tooltip */
.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 18px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 100px;
  z-index: 10;
}

#offerings-header {
  height: 100px;
  font-size: 48px;
  line-height: 100px;
}

#category-title-container {
  font-size: 48px;
  position: absolute;
  top: 100px;
  left: 60px;
}

/* Offerings container stuff */
#offerings-money-input {
  display: inline-block;
  width: 100px;
  height: 50px;
  margin-bottom: 10px;
}

#offerings-update-btn {
  width: 100px;
  height: 50px;
  background-color: #34d2e6;
  line-height: 50px;
  border-radius: 10px;
  color: white;
  margin: auto;
}

#offerings-update-btn:hover {
  cursor: pointer;
}

#offerings-collection {
  position: relative;
  flex: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

.offering-card {
  transition: 0.3s all;
  min-height: 150px;
  flex: 35%;
  margin: 30px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  text-align: left;
  padding: 10px;
}

.offering-card:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.offering-card-header {

}

.offering-card-subheader {
  margin-top: 0px;
  font-size: 16px;
}

.offering-card-icon-container {
  height: 50px;
  line-height: 50px;
}

.offering-card-icon {
  margin-top: 10px;
  margin-right: 5px;
}

.offering-card-link-desc {
  font-style: italic;
  font-size: 20px;
}

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  display: none;
}

#modal-donate-btn {
  margin: auto;
  width: 40%;
  height: 30%;
  border: 2px solid #34d2e6;
  color: #34d2e6;
  font-family: "Montserrat", sans-serif;
  font-size: 120%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#modal-donate-btn:hover {
  cursor: pointer;
  background: #34d2e6;
  color: white;
}

.close {
  color: #aaaaaa;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#confirm-donation-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  margin: auto;
  padding: 0px;
  width: 500px;
  height: 300px;
  overflow-y: auto;
  text-align: center;
  border-radius: 10px;
}

.vertically-centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
