body {
  background-color: #b6ffff;
  background-image:
  linear-gradient(
    #4dd0e1, #e0f7fa
    );
  font-family: 'Montserrat', sans-serif;
}

.circle {
    width: 35%;
    height:0;
    position:absolute;
    right: 32.5%;
    padding-bottom: 35%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #81d4fa;
    z-index: 1 !important;
}

#title-text{
  color: lemonchiffon;
  font-family: sans-serif;
}

button {
  border-radius: 50px;
}

.title-container {
  position:relative;
  top: 50px;
}

.succ {
  height: 20%;
  position: relative;
  width: 20%;
  z-index: 100 !important;
}

.button-container {
  margin: auto;
  text-align: center;
  width: 40%;
}

.button-container > button {
  display: inline;
  text-align: center;
}

.tagline {
  font-family: 'Montserrat', sans serif;
  color: lemonchiffon;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
